<div id="sale_top" style="margin-bottom:5px;">
    <div class="alert alert-success" style="margin-top:3px;">
    <a href="Index">总体销售统计</a> |
    <a href="SaleByProduct">商品销售排名</a> |
    <a href="SaleByClass">商品类别销售排名</a> |
    <a href="SaleByDay">商品按日销售排名</a> |
    @*<a href="SaleByUser">会员订单排名</a>*@
</div>
<div class="input-group">
    <span class="input-group-addon">起始时间</span>
    <input type="text" class="form-control mvcparam" id="sdate" onclick="WdatePicker({ dateFmt: 'yyyy/MM/dd' });" value="@DateTime.Now.AddMonths(-1).ToString("yyyy/MM/dd")" />
    <span class="input-group-addon">结束时间</span>
    <input type="text" class="form-control mvcparam" id="edate" onclick="WdatePicker({ dateFmt: 'yyyy/MM/dd' });" value="@DateTime.Now.ToString("yyyy/MM/dd")"/>
    <span class="input-group-addon">店铺</span>
    <select class="form-control mvcparam" id="store_dp">
        <option value="-100">全部商铺</option>
    </select>
    <span class="input-group-btn">
        <input type="button" class="btn btn-info" value="搜索"
               onclick="mvcpage.load({ url: 'SaleByDay' });" />
    </span>
</div>
</div>