{ZL.Source id="节点栏目信息数据源"/}<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot4()/}
<link rel="stylesheet" href="/dist/css/weui.min.css">
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>
<div class="container rom_top">
<a href="{ZL:GetNodeLinkUrl(18)/}"><i class="fa fa-home" aria-hidden="true"></i></a>
<h1>妈妈课堂</h1>
<a href="javascript:history.back(-1)"><i class="fa fa-reply" aria-hidden="true"></i></a>
</div>
<!--top end-->

<div class="container rom_nav">
<ul class="nav justify-content-center">
<li class="nav-item"> <a class="nav-link active" href="{ZL:GetNodeLinkUrl(19)/}">最新</a></li>
{ZL.Label id="输出妈妈课堂子节点名导航列表" NodeID="19" ShowNum="5" /}
</ul>
</div>
<!--nav end-->

<div class="container ke_class yuyin_bottom">
{ZL.Label id="输出妈妈课堂视频列表_分页" NodeID="{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/}" TitieNum="80" ShowNum="10" /}
</div>
<!--buttom end-->

<div class="weui-tabbar wei_footer"> <a href="{ZL:GetNodeLinkUrl(18)/}" class="weui-tabbar__item" id="foot_home"> <i class="fa fa-home  weui-tabbar__icon "></i>
<p class="weui-tabbar__label ">母婴服务</p>
</a> <a href="{ZL:GetNodeLinkUrl(19)/}" class="weui-tabbar__item  weui-bar__item_on" id="foot_jie"> <i class="fa fa-coffee weui-tabbar__icon"></i>
<p class="weui-tabbar__label">妈妈课堂</p>
</a> <a href="{ZL:GetNodeLinkUrl(20)/}" class="weui-tabbar__item" id="foot_quan"> <i class="fa fa-life-ring  weui-tabbar__icon"></i>
<p class="weui-tabbar__label">陪诊陪护</p>
</a> <a href="/User" class="weui-tabbar__item" id="foot_user"> <i class="fa fa-user  weui-tabbar__icon"></i>
<p class="weui-tabbar__label">个人中心</p>
</a> </div>
</body>
</html>